<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDg6G1zX_r4duZg-Knv6q2VCb-kCmdPT_E</string>
	<key>GCM_SENDER_ID</key>
	<string>949399884320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petsApp</string>
	<key>PROJECT_ID</key>
	<string>pets-app-df5ae</string>
	<key>STORAGE_BUCKET</key>
	<string>pets-app-df5ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949399884320:ios:734bbf676389fa6051a245</string>
</dict>
</plist>